# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
/build/
.dart_tool/
.flutter-plugins
.pub-cache/
.idea/
.vscode/
*.iml

# iOS specific
ios/Pods/
ios/Podfile.lock
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh

# Android specific
android/.gradle/
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/Flutter/build/
android/app/google-services.json

# macOS/OSX specific
**.DS_Store

# Visual Studio Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
